* {
    margin: 0;
    padding-left: 100;
    padding-right: 100;
    font-family: "Comfortaa", Arial, sans-serif;
    }

/* header */

header {
    background: #264653;
    border-bottom: 5px solid #f4f1de;
    position: sticky;
    top: 0;
}

header p {
    color: #3d405b;
}

.nav-item {
    color: #f2cc8f;
    text-decoration: none;
    padding: 5px;
    margin: 20px;
    border-top: 1px solid #81b29a;
    border-bottom: 1px solid #81b29a;
}

.nav-item:hover {
    color: #e07a5f;
}

.container {
    background: #264653;
    max-width: 1080px;
    padding: 0 50px;
    margin: 0 auto;
}

.cont-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;
}

header li {
    display: inline-block;
}

/* feature */

.feature-1 {
    padding: 150px 60px;
    background-color: #e07a5f;
    text-align: center;
}

.text-main {
    background-color: #f4f1de;
    opacity: .8;
    padding: 10px 0px;
    border-radius: 10px;
    margin: 10px 225px;
    font-size: 50px;
    color: #264653;
}

.titles {
    display: inline-block;
    padding: 12px;
    color: #f4f1de;
    text-shadow: 2px 2px 4px #3d405b;
}

/* about me */
.about-me {
    background-color: #264653;
    height: auto;
}

.about {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 110px;

}

.about-text p {
    color: white;
    text-shadow: 3px 3px 4px #3d405b;
    padding: 10px 10px 10px 0px;
}

.about-me img {
    max-width: 250px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

/* resume */
.resume {
    background-color: #f4f1de;
    padding: 40px 120px;
}

/* resume image, overview, skills */
.resume-open {
    display: flex;
    justify-content:space-between;
    padding: 0px 0px 20px;
}

.resume-img img {
    max-width: 250px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.resume ul {
    padding: 0px;
    list-style-type: none;
}

.resume li {
    padding: 5px 0;
}

/* resume text editing */
.resume p {
    letter-spacing: .5px;
    padding: 0px 0px 20px;
}

/* credits */
.credits {
    background-color: #f4f1de;
    padding: 0px 40px;
}

.credits ul {
    padding: 0px;
    list-style-type: none;
}

.credits li {
    padding: 5px 20px 5px 0px;
}

.credits p {
    letter-spacing: .5px;
    padding: 0px 0px 20px;
}

.television {
    padding: 20px 80px
}

.television-cont {
    display: flex;
    justify-content:flex-start;

}

.film {
    padding: 20px 80px;

}

.film-cont {
    display: flex;
    justify-content:center;

}
.theater {
    padding: 20px 80px;
}

.theater-cont {
    display: flex;
    justify-content:center;
    padding: 0 0 10px;

}

.commercial {
    padding: 20px 80px;
}

.commercial-cont {
    display: flex;
    justify-content:center;
    padding: 0px 0px 10px;

}

/* gallery */

.gallery {
    background-color: #264653;
    padding: 0px 100px 20px 100px;
}

.gallery-title {
    margin: 0px 200px;
    border-bottom: 3px solid #f4f1de;
    padding: 10px 0px;
}

.gallery-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.gallery-row-1 h3 {
    font-size: 40px;
    justify-content: center;
}

.gallery-row-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 250px;
    height: auto;
    padding: 0px;
    margin: 25px;
    outline:3px solid #f4f1de;
    outline-offset: 5px;
}

.gallery h3 {
    color: #f4f1de;
    padding: 20px;
}

/* contact */
.contact {
    background-color: #f4f1de;
    padding: 50px 100px;
}

.contact ul {
    padding: 0px;
    list-style-type: none;
}

.contact li {
    padding: 5px;
    text-decoration: none;
}


/* text editing */

p {
    color: #264653;
    font-size: 25;
    font-weight: 900px;
}

h1 {
    font-size: 28px;
    color: #f4f1de;
}

h2 {
    font-size: 30px;
    color: #264653;
}

h3 {
    font-size: 30px;
    color: #264653;
    padding: 0px 0px 20px;
    
}

h4 {
    font-size: 25px;
    padding: 10px 0px;
    letter-spacing: 3px;
    color: white;
}

h5 {
    font-size: 25px;
    color: #264653;
    padding: 40px 0px 12px;
}


/* buttons and links */

button {
    background-color: #264653;
    color:white;
    padding: 14px 30px;
    margin-top: 32px;
    border-radius: 10px;
    min-width: 200px;
}

.button {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #e07a5f;
    color: #264653;
}

.email {
    text-decoration: none;
    color: #264653;
}

.email:hover {
    color: #81b29a;
}

.home-button {
    text-decoration: none;
    color: #f4f1de;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    .about-img {
        display: none;
    }
    .nav-link {
        display: none;
    }
    .about-text {
        text-align: center;
    }
    .resume-open {
        justify-content: center;
    }
    .title-and-details {
        margin: 10px;
        text-align: center;
    }
    .skills {
        margin: 10px;
        text-align: center;
    }
    .text-main {
        margin: 0px 10px;
    }
    .film {
        padding: 30px 0px;
        margin: 0px;
    }
    .theater {
        padding: 30px 0px;
        margin: 0px;
    }
    .commercial {
        padding: 30px 0px;
        margin: 0px;
    }
    .gallery-row-1{
        justify-content: center;
    }