* {
    margin: 0;
    padding-left: 100;
    padding-right: 100;
    font-family: "Comfortaa", Arial, sans-serif;
}

/* header */

header {
    background: #264653;
    border-bottom: 5px solid #f4f1de;
    position: sticky;
    top: 0;
}

header p {
    color: #3d405b;
}

.nav-item {
    color: #f2cc8f;
    text-decoration: none;
    padding: 5px;
    margin: 20px;
    border-top: 1px solid #81b29a;
    border-bottom: 1px solid #81b29a;
}

.nav-item:hover {
    color: #e07a5f;
}

.container {
    max-width: 1080px;
    padding: 0 50px;
    margin: 0 auto;
}

.cont-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

header li {
    display: inline-block;
}

/* feature */

.feature-1 {
    padding: 150px 300px;
    background-color: #e07a5f;
    text-align: center;
}

.text-main {
    background-color: #f4f1de;
    opacity: .8;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 50px;
    font-size: 50px;
    color: #264653;
}

.titles {
    display: inline-block;
    padding: 12px;
    color: #f4f1de;
    text-shadow: 2px 2px 4px #3d405b;
}

/* about me */
.about-me {
    background-color: #264653;
    height: auto;
}

.about {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}

.about-text p {
    color: white;
    text-shadow: 3px 3px 4px #3d405b;
    padding: 10px 10px 10px 0px;
}

.about-me img {
    max-width: 250px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

/* resume */
.resume {
    background-color: white;
    padding: 40px 150px;
}

/* resume image, overview, skills */
.resume-open {
    display: flex;
    justify-content:space-between;
    padding: 0px 0px 20px;
}

.resume-img img {
    max-width: 250px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.resume ul {
    padding: 0px;
    list-style-type: none;
}

.resume li {
    padding: 5px 0;
}

/* resume text editing */
.resume p {
    letter-spacing: .5px;
    padding: 0px 0px 20px;
}

/* text editing */

p {
    color: #264653;
    font-size: 25;
    font-weight: 900px;
}

h1 {
    font-size: 28px;
    color: #f4f1de;
}

h2 {
    ont-size: 30px;
    color: #264653;
}

h3 {
    font-size: 30px;
    color: #264653;
    padding: 0px 0px 20px;
    
}

h4 {
    font-size: 25px;
    padding: 10px 0px;
    letter-spacing: 3px;
    color: white;
}

h5 {
    font-size: 25px;
    color: #264653;
    padding: 40px 0px 12px;
}


/* buttons */

button {
    background-color: #264653;
    color: #f4f1de;
    padding: 14px 30px;
    text-decoration: none;
    margin-top: 32px;
    border-radius: 10px;
    min-width: 200px;
}

.email {
    text-decoration: none;
    color: #3a0ca3;
}